@import "_reset";

body {
  height: 100vh;
  width: 100vw;
}

.main-content {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 4fr 6fr 2fr;
  grid-template-areas:
          ". aside sectionA ."
          ". aside sectionB .";
}

.aside-content {
  grid-area: aside;
  background: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-a {
  grid-area: sectionA;
  background: yellow;
}

.section-b {
  grid-area: sectionB;
  background: blue;
}

@media all and (max-width: 80em) and (min-width: 60em) {
  .main-content {
    grid-template-columns: 1fr 5fr 7fr 1fr;
  }
}

@media all and (max-width: 60em) and (min-width: 30em) {
  .main-content {
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
            "aside"
            "sectionA"
            "sectionB";
  }

  .aside-content {
    flex-direction: row;
    align-items: center;
  }
}

@media all and (max-width: 30em) {
  .main-content {
    grid-template-columns: auto;
    grid-template-rows: 3% 1fr 1fr;
    grid-template-areas:
            "aside"
            "sectionA"
            "sectionB";
  }

  .aside-content {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;

    a {
      padding-right: 1%;
    }
  }
}
