@import "_reset";

body {
  height: 100vh;
  width: 100vw;
}

.main-content {
  min-height: 100%;
  display: grid;
  grid-template-areas:
          ". aside sectionA sectionA sectionA ."
          ". aside sectionB sectionB sectionB.";
}

.aside-content {
  grid-area: aside;
  background: lightpink;
}

.section-a {
  grid-area: sectionA;
  background: yellow;
}

.section-b {
  grid-area: sectionB;
  background: blue;
}