.main-section {
  height: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  margin-top: 2vh;
  grid-template-rows: repeat(4, 40%);
  grid-template-areas:
          "section1 section1 section2 section3"
          "section1 section1 section4 section4"
          "section5 section6 section6 section7"
          "section8 section9 section10 section11";
}

.section-1 {
  grid-area: section1;
  background: $blackColor url("https://www.nasa.gov/sites/default/files/styles/2x2_cardfeed/public/thumbnails/image/zombie-16_0.jpg") center center no-repeat;
}

.section-2 {
  grid-area: section2;
  background: $blackColor url("https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/stsci-h-p1951a-f-1631x1767.png") center center no-repeat;
}

.section-3 {
  grid-area: section3;
  background-color: lighten($blueColor, 20%);
}

.section-4 {
  grid-area: section4;
  background: $blackColor url("https://www.nasa.gov/sites/default/files/styles/2x1_cardfeed/public/thumbnails/image/viper_rover_mgru_in_rockyard1.jpg") center center no-repeat;
}

.section-5 {
  grid-area: section5;
  background: $blackColor url("https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/sonoma.jpg") center center no-repeat;

}

.section-6 {
  grid-area: section6;
  background: $blackColor url("https://www.nasa.gov/sites/default/files/styles/2x1_cardfeed/public/thumbnails/image/xemu-eva-hls.jpg") center center no-repeat;

}

.section-7 {
  grid-area: section7;
  background-color: $darkgreyColor;
}

.section-8 {
  grid-area: section8;
  background: $blackColor url("https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/48980275608_dec6675aae_k.jpg") center center no-repeat;

}

.section-9 {
  grid-area: section9;
  background: $blackColor url("https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/insight20191027-1041.gif") center center no-repeat;

}

.section-10 {
  grid-area: section10;
  background: $blackColor url("https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/stsci-h-p1901b-q-7826x4402.jpg") center center no-repeat;

}

.section-11 {
  grid-area: section11;
  background: $blackColor url("https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/pia23468-1041.gif") center center no-repeat;
}