@import "_reset";
@import "_variables";
@import "_navbar";
@import "_main";

body {
  height: 100vh;
  background: $blackColor;
  color: $whiteColor;
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
}