@import "_reset";
@import "_variables";
@import "_navbar";
@import "_main";
@import "_footer";

:root {
  height: 100%;
}

body {
  height: 100%;
  background: $blackColor;
  color: $whiteColor;
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
}

@media all and (min-width: 50rem) {
  body {
    margin-right: 10%;
    margin-left: 10%;
  }
}
